{% extends 'base.html.twig' %}

{% block title %}Member{% endblock %}

{% block body %}
    <h1>Member</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ member.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ member.Name }}</td>
            </tr>
            <tr>
                <th>Bio</th>
                <td>{{ member.bio }}</td>
            </tr>
            <tr>
                <th>Bookshelves</th>
                <td>{% for bookshelf in member.bookshelf %}
                    <li><a href="{{ path('app_bookshelf_show', {'id' : bookshelf.id}) }}">{{ bookshelf }}</a></li>
                {% endfor %}</td>
            </tr>
            <tr>
                <th>Kitchens</th>
                <td>{% for kitchen in member.kitchens %}
                        {%  if kitchen.published == true %}
                        <li><a href="{{ path('app_kitchen_show', {'id' : kitchen.id}) }}">{{ kitchen }}</a></li>
                        {% endif %}
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_bookshelf_new', {'id': member.id}) }}">add new bookshelf</a>

    <a href="{{ path('app_member_index') }}">back to list</a>

    <a href="{{ path('app_member_edit', {'id': member.id}) }}">edit</a>

    {{ include('member/_delete_form.html.twig') }}
{% endblock %}
