{% extends 'base.html.twig' %}

{% block title %}Bookshelf{% endblock %}

{% block body %}
    <h1>Bookshelf</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ bookshelf.id }}</td>
            </tr>
            <tr>
                <th>Shelf</th>
                <td>{{ bookshelf.shelf }}</td>
            </tr>
            <tr>
                <th>Cookbooks</th>
                <td>{% for cookbook in bookshelf.cookbooks %}
                        <li><a href="{{ path('app_cookbook_show', {'id' : cookbook.id}) }}">{{ cookbook }}</a></li>
                    {% endfor %}</td>
            </tr>
        </tbody>
    </table>




    <p><a href="{{ path('app_cookbook_new', {'id': bookshelf.member.id})}}"> add book </a></p>
    <p><a href="{{ path('app_member_show', {'id' : bookshelf.member.id}) }}"> back to member </a></p>

    <p><a href="{{ path('app_bookshelf_edit', {'id': bookshelf.id}) }}">edit</a></p>

    {{ include('bookshelf/_delete_form.html.twig') }}
{% endblock %}
